DB_HOST=localhost
DB_PORT=1433
DB_NAME=sayarti
DB_USERNAME=
DB_PASSWORD=
DB_TRUST_SERVER_CERTIFICATE=true

JWT_ACCESS_SECRET=tWqzjHYIs4WmDwUyEas7HbOb23bw03Df39foToCWkakStkuuXVU4b+K6vDoZw3Xem/pw/L871913hIk0aWKZwQ==
JWT_REFRESH_SECRET=1SP0mIA+JptnQOOfLWdGiO+CYTkinj+t5QgJnr4Ay7wwmB68MBOUyBtLx+yBAlAwrHJ+GdAaQuV5JzjhOr1y6g==
JWT_ACCESS_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=2592000000

GOOGLE_CLIENT_ID=849572137443-jh4nrboucn4h871pcgknao8qs0nafeb4.apps.googleusercontent.com

FIREBASE_PROJECT_ID=sayarti-31e18
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@sayarti-31e18.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY=MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDX9fLs9aBQVHJZ

ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080
